{% extends "base.html" %}
{% block content%}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Fill in your Details</h5>
            <form action="" method="POST" enctype="multipart/form-data" target="_blank">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit">
            </form>
          </div>
        </div>
    </div>
</div>


{%  ifequal error "no" %}
<script>
    alert("Record Saved Successfully!");
    window.location=('{% url 'portfolio' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something Went Wrong, Please Try Again!");
</script>
{% endifequal %}
{% endblock %}
